html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.positionInput {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  border: 3px inset #1B1B5B;
  border-radius: 6px;
  font-weight: bold;
}

.editableElem {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 30px;
  border: 3px inset #1B1B5B;
  border-radius: 6px;
  height: 40px;
  color-scheme: dark;
}

.posterColumn {
  width: 220px;
  height: 110px;
}

.positionColumn {
  width: 70px;
  height: auto;
}

.labelCommonColumn {
  text-align: center;
  margin-top: 35px;
}

.moviePosterColumn {
  width: 180px;
  height: 240px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown:hover .dropdown-menu {
  flex-wrap: wrap;
  color: red;
  background-color: yellow;
}

.comment {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: #d0e2bc;
  font: 1.4em/1.6em cursive;
  color: #095484;
}

.btnReply {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}

.btnReply:hover {
  background: #eee;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 6px 18px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
}

.notification:hover {
  color: black;
  background: yellow;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.notifDiv, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: grey;
  color: white;
  border: solid 3px black;
  border-radius: 5px;
  margin-top: 50px;
  display: block;
}